body{
    background-color: #2196F3;}

.screen{
    height: 300px;
    width: 400px;
    align: center;
    background-color: #eaf2ff;
    margin: 5% auto 0% auto;
    }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 30%;
  width: 30%;
  margin: 50% auto 0% auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.25s;
}

button:active {
  background: #9aa1ad;
}
